appspider:
  parameters:
    APPSPIDER_ADMIN_PASSWORD:
      data_type: password
      description: AppSpider Admin API Password
      type: config
      value: gAAAAABaX52_a12sPZP5ao6dRKE3AMRnx_au_HaEzzFlpC85_h5V21OarToSk_Y6az6S2idCXcgvT7klNngRB6DtwOW7wnYzHA==
    APPSPIDER_ADMIN_USERNAME:
      data_type: username
      description: AppSpider Admin API Username
      type: config
      value: gAAAAABaX52_-BJ68-1R6GrdysGj5ZX9CukE73dhiOnJ9fWTXMNjrdIJhs0C_nSVPz8pWOgFhzAAANm9qiQM1Tc_oI5gaPIRWg==
    APPSPIDER_CLIENT:
      data_type: string
      description: AppSpider Client to use for connecting to the API.
      type: config
      value: gAAAAABaX52_n0ZGIUC-VQVFBBtoGXnN0HHUJbCjdRxU5ZtguJ8FJhCZnNdU217L0YxKKNIQJbwN-XrNNBMedLy01jYFEFYG1w==
    APPSPIDER_PASSWORD:
      data_type: password
      description: AppSpider API Password
      type: config
      value: gAAAAABaX52_IrfoDri8N8XYwGQxE6CaYt0rKWrgnReo0VhTGeN5Gx8Gt1ynH4WkVkTtJGESUKpa77UHJ7I89OzwCtTBvwl4mwhgsoB1aBhq5f4J4joU_qo=
    APPSPIDER_USERNAME:
      data_type: username
      description: AppSpider API Username
      type: config
      value: gAAAAABaX52_dcIFG-upycFb1pX3V5t8WyQVQRZURPdrHrf-EWG8ysGZ0BF2JJ9AgOxqVEOH6uYyZWIGlW-JhFUQT9BiW8DleA==
checkmarx:
  parameters:
    CHECKMARX_PASSWORD:
      data_type: password
      description: Checkmarx password.
      type: config
      value: gAAAAABaX52_AC-J3Sg8OH4wYhnsMBb4KaVtE8RD6d096L2LqQHwI2h7WePD_jbDvBfbhFlXQ0MiouCdfpZkhEEvVkFUzOh_Rrm80aOQLe5sry32ueVAPLg=
    CHECKMARX_URL:
      data_type: url
      description: Checkmarx web URL.
      type: config
      value: gAAAAABaX52_UMLbBuS9Xf406Sujstlv9rjKjANteEK0bjnJ-gDhmJb6HJl5VgrhXerDQpTwxE7QjjMd8JxtD2toyb45IBqXqiBVNB5woP9iFT8zaY_9zzLRrE9N1o58hN2bhnL44aVA
    CHECKMARX_USERNAME:
      data_type: username
      description: Checkmarx username.
      type: config
      value: gAAAAABaX52_dpWNBkJPKNRh5Bl8s9casohUvB436Vsr66Oa8n9ZBNGA7-Uh0Hn7NJyqBnKSOjOl25jvdYRYxXUmhliO4c7RaQ==
defectdojo:
  parameters:
    DOJO_API_KEY:
      data_type: key
      description: Dojo API key.
      type: config
      value: gAAAAABaX52_cXTzIT-Of_oeqRsMlU0P3VuAo_O8pGDu9HNmbhkeZwnZoRhapzfyFdpdetQjn4aflmikFRvP8Ldr7RuQhFJdL2BuR0QvsPfk69eGVm92hp7lQm7ES-9GOu8e4Khg4MEigqh9R-uc-iK7jDRGUU3jzw==
    DOJO_HOST:
      data_type: string
      description: DefectDojo host.
      type: config
      value: gAAAAABaX52_M3OdXsakOYF1PKdHwHAWJWRjyTqCkbjTsBZYHTWI_I_NpOzpSJ7YB2Xjn6jX9FJv3n3fDhWfBNEB3LwDvpOLkOIb2OsIQ7atE2aQCA7mj8BdWwtwGbCKG-pq0hX9Rybp
prepenv:
  parameters:
    DOJO_API_KEY:
      data_type: key
      description: Dojo API key.
      type: config
      value: gAAAAABaX52_GDFE96qziIbEIzKRekWlHNvg8NZhXj06JvzWsMQEze5umhVY2vz3QVRxQIb-1SH3863Jdygs1Yf3p5DoRDCEwVxIMzRZuYNH8NEiJuy0Ef9Y9QzVLjLmOTK2fghJ3PTdQo1nLlKopD2hd8aK6QVMeg==
    DOJO_HOST:
      data_type: string
      description: DefectDojo host.
      type: config
      value: gAAAAABaX52_r5z3V31UiqDNwumsYUR8HnkROKGmNJvgYzOFibWwqtNi_gXljLGNxdoXa7vXvX0-XRnwbUR0tRHBO0smNBhrqzM3tRqAaySuAL76yLek8VZZz2XfTG1eUrj1aE4t0CDl
snyk:
  parameters:
    SNYK_API_TOKEN:
      data_type: api
      description: Synk API token
      type: config
      value: gAAAAABaX52_62qBIgr3IEKJJGGi0sLNfnu7XYZgRQSuRMJz_nv2P9yuzml5Eiv4ESXioxPCWdHpjNIfTCKdhrSPZWSS9iQqXiZ_6JBNAZATXJDOPxWUD8_DnZNhs6fObcNk_7QvkR1R
tenableio:
  parameters:
    TENABLE_ACCESS_KEY:
      data_type: key
      description: Access key, generated in the TenableIO GUI.
      type: config
      value: gAAAAABaX52_dsq-Y0PG7LwtBEFJBob2uVDvXzeIPSIB3h9oP0tvxUCGksP7hbg5J9gQYLyPyccjsn8J4Hf2XYrWFJILeg-uZDEfRrFKcFSddHdS__g2hTps1EpJHuCn2KsI5SJyRJjAmR-T6SSu5Dzs92lclUNqe6l5pFKewUq2L86ORwsZRs0=
    TENABLE_SECRET_KEY:
      data_type: key
      description: Secret key, generated in the TenableIO GUI.
      type: config
      value: gAAAAABaX52_ePubJXhO1sh5kiFQo_NvB11_YeeOfEgOm06q_o4tFttFl93k-2stQYI5dQgTEe0INqdikSdtx5FP9dah4fQE1Me9z_lT5TD9SJlD51nb6dbTCLPj0mZtbTbnUHWQR-1OW4NWrvw8bZx-uzsqPEqV4gSnDK-tJqkCuOwZ3-lg8gQ=
